/* Fügen Sie diese Stile für klickbare und deaktivierte Tage hinzu */
td.clickable {
    background-color: #f0f0f0; /* Hellgraue Hintergrundfarbe für klickbare Tage */
}

td.disabled {
    background-color: #dddddd; /* Dunkelgraue Hintergrundfarbe für deaktivierte Tage */
}

/* Geänderte Stile für Hintergrundfarbe und Textfarbe */
th.calendar-header {
    background-color: #0d6efd; /* Blaue Hintergrundfarbe für den Kopfzeilen */
    color: #000000; /* Schwarze Textfarbe für den Kopfzeilen */
}

td.clickable, td.disabled {
    background-color: #f0f0f0; /* Blaue Hintergrundfarbe für klickbare und deaktivierte Tage */
    color: #000000; /* Schwarze Textfarbe für klickbare und deaktivierte Tage */
}

/* Geänderte Stile für Größe und Layout-Unterschiede */
.btn-time-type {
    font-size: 1.2em;
    width: 48%; /* Kleinere Breite für die "Vormittag" und "Nachmittag" Schaltflächen */
    margin: 0.5%; /* Kleinerer Außenrand zwischen den Schaltflächen */
}

#timeSlotsContainer {
    max-height: 60vh; /* Kleinere maximale Höhe für die "Freie Termine" Schaltflächen */
    overflow-y: auto; /* Scrollleiste hinzufügen, wenn der Inhalt zu groß für die angegebene Größe ist */
}

/* Zusätzliche Anpassung für die Zentrierung */
.text-center {
    text-align: center;
}

/* Geänderte Stile für Größe und Layout-Unterschiede */
.btn-time-type {
    font-size: 1.2em;
    width: 48%; /* Kleinere Breite für die "Vormittag" und "Nachmittag" Schaltflächen */
    margin: 0.5%; /* Kleinerer Außenrand zwischen den Schaltflächen */
}

#timeSlotsContainer {
    max-height: 60vh; /* Kleinere maximale Höhe für die "Freie Termine" Schaltflächen */
    overflow-y: auto; /* Scrollleiste hinzufügen, wenn der Inhalt zu groß für die angegebene Größe ist */
}

.modal-content {
    max-width: 80%; /* Változtasd meg az értéket igényeid szerint */
    margin: 0 auto;
}

@media (max-width: 400px) {
    .modal-content {
        max-width: 100%;
    }
}
@media (max-width: 230px) {
    .modal-content .modal-body .buttons{
        flex-flow: column;
    }
}
@media (max-width: 295px) {
    .container{
        padding: 0;
    }
    .container-fluid.container-md {
        padding: 0;
    }
}

.head-title {
    margin-bottom: 2em;
}

.calendar, .calendar_weekdays, .calendar_content, .head-menu {
    max-width: 450px; }

.calendar {
    margin: auto;
    font-weight: 400; }

.calendar_content {
    background: #fff; }

.calendar_weekdays {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: #0d6efd; }

.calendar_header {
    padding: 10px 0; }

.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden; }

.calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
    color: #fff !important;
}

.calendar_weekdays div, .calendar_content div {
    width: 13.4%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    padding: 15px 0; }

.calendar_content {
    display: flex;
    flex-wrap: wrap;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
    position: relative;
    z-index: 0;

    flex: 1 0 14.2857%;

    /*width: 14.2870%;*/
}

.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default; }

.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent; }

.calendar_content div.past-date {
    color: #d5d5d5; }

.calendar_content div.today {
    font-weight: bold;
    font-size: 16px;
    color: #fff !important; }

.calendar_content div.clickable:after,
.calendar_content div.past-date:after,
.calendar_content div.disabled:after{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background: #f9f9f9;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48); }

.calendar_content div.today:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background: #0d6efd;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48); }

.calendar_content div.selected {
    background-color: #f0f0f0; }

.calendar_header {
    width: 100%;
    text-align: center; }

.calendar_header h2 {
    padding: 0 10px;
    font-weight: 500;
    font-size: 20px;
    color: #1089ff;
    float: left;
    width: 70%;
    margin: 0 0 10px; }

button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width: 15%;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }

button.switch-month:hover {
    color: #1089ff; }

.calendar_content div.clickable {
    cursor: pointer;
}
.calendar_content div.clickable {
    color: #343434;
}
.calendar_content div.disabled {
    color: #ff2d2d
}
.calendar_content div
{
    font-weight: 500;
}

@media (max-width: 500px) {
    .calendar_content div {
        width: 14.2770%;
    }
}



@media (max-width: 316px) {
    .calendar_content div {
        width: 9%;
    }
}


.head-menu, .head-menu .line {
    display: flex;
}

.head-menu {
    margin: auto;
    flex-direction: column;
}

.head-menu .line {
    /*justify-content: space-between;*/
}
.head-menu .line .menu {
    min-width: 150px;
}
.head-menu .line .value {
    font-weight: 600;
}

.head-menu .line:first-child {
    border-top: 10px solid #1089ff;
}

.hidden {
    display: none;
}